body {
    font-family: sans-serif;

    --color-primary: #92140C;
    --color-secondary: #65743A;
    --color-background: #FFF8F0;

    background-color: var(--color-background);
}

* {
    box-sizing: border-box;
}

.room-list {
    height: 50vh;
    overflow-y: auto;
    scrollbar-color: var(--color-secondary) var(--color-background);
}

.room-list-room {
    width: calc(100% - 0.5rem);
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0.25rem;
    background-color: var(--color-secondary);
    color: white;
}

.room-list-room:hover {
    background-color: black;
}

button {
    background-color: var(--color-primary);
    padding: 0.5rem;
    border: none;
    color: white;
    margin: 0.25rem;
    cursor: pointer;
}

button:hover {
    background-color: black;
}
